<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>apparel-discount.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>apparel-discount.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.sg.shop" level="debug" additivity="false">
		<appender-ref ref="fileLog" />
	</logger>

	<root level="error">
		<appender-ref ref="fileLog" />
	</root>

</configuration>